page-dish {
    .imgHeader{
        position: relative;
        height: 200px;
        width: 100%;
        img{
            height: 200px;
            object-fit: cover;
            width: 100%;
        }
        .info{
            height: 40px;
            width: 40px;
            position: absolute;
            top: 10px;
            left: 10px;
        }
    }
    .list.elements{
       margin: 0px;
    }
    ion-list{
        &-header.item{
            padding: 0px;
            margin: 0px;
            .item-inner{
                padding: 0px;
                background: color($colors, light);
                .input-wrapper{
                    .label{
                        margin:  10px 0px;
                        h2{
                            font-size: 40px;
                            color: color($colors, text);
                            font-weight: 100;
                            font-size: 21px;
                            text-transform: capitalize;
                            text-align: center;
                        }
                    }
                }
            }
        }
        ion-item.item{
            padding: 0px;
            border-top: 1px solid #dddada;
            height: 50px;
            box-sizing: content-box;
            &:last-of-type{
                border-bottom: 1px solid #dddada;
            }
            .item-inner{
                padding: 0px;
                .input-wrapper{
                    .label{
                        font-weight: 100;
                       span.name{
                        padding-left: 20px;
                        text-transform: capitalize;
                        line-height: 30px;
                       }
                       span.amount, span.unit{
                           border: 1px solid color($colors, primary);
                           padding: 6px 0px;
                           margin-left: 10px;
                           width: 60px;
                           text-align: center;
                       }
                       span.amount{
                        display: block;
                        
                        float: right;
                       }
                       span.unit{
                        display: block;
                        float: right;
                       }
                    }
                }
            }
        }
    }
    .recipe{
        text-align: justify;
        font-size: 15px;
        text-indent: 20px;
        &::after{
            content: '';
            display: block;
            width: 60%;
            margin: 15px auto;
            border: 1px solid color($colors, secondary);
        }
        &::before{
            content: '+';
            display: initial;
            position: absolute;
            margin-top: -7px;
            left: 0px;
            font-size: 25px;
            color: color($colors, primary);
        }
        &:last-of-type::after{
            border: unset;
        }
    }
    .portion{
        width: 100%;
        height: 70px;
        padding-left: 40px;
        padding-top: 5px;
        color: color($colors, secondary);
        &__plus, &__minus{
            float: left;
            width: 60px;
            height: 60px;
            background: unset;
        //    border: 1px solid color($colors, secondary);
            border-radius: 50%;
            color: color($colors, secondary);
            display: block;
            font-size: 50px;
            font-weight: 100;
        }
        &__text{
            float: left;
            width: calc(100% - 160px);
            text-align: center;
            font-size: 25px;
            margin-top: 13px;
        }
    }
}
